@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

.poppins-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

* {
  color: #fff;
}

body {
  background-color: var(--violet);
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 5rem;
}

.content {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  text-align: center;
}

.illustration-mockup {
  margin-top: 7.5rem;
  margin-bottom: 6rem;
}

.content > a {
  margin-top: 2rem;
  cursor: pointer;
  background-color: #fff;
  color: var(--violet);
  padding: 1.5rem 10rem;
  border-radius: 5rem;
  font-size: 1.5rem;
}

.content > a:hover {
  background-color: var(--soft-magenta);
  color: #fff;
}

h1 {
  font-size: 3rem;
}

p {
  margin-top: 2rem;
  font-size: 1.95rem;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.socials a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 1.5px solid #fff;
}

.socials a:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
}
